<!doctype HTML>
<style>
  body {
    background-color: black;
    font-family: Monospace;
    color: white;
  }
  .white-text {
    color: white;
    text-align: left;
    font-size:30px;
  }
  .medium-text {
    color: white;
    text-align: left;
    font-size:20px;
  }
</style>
<html>
  <head><title>Jack Brierty Education and Work Experience</title></head>
  
  <h1 class=white-text>
    Education:
  </h1>
  <h1 class=medium-text>
    Bachelor of Science in Biomedical Engineering
  </h1>
  <p>
    California Polytechnic State University, San Luis Obispo
  </p>
  <p>
    Cumulative GPA September 2013 – June 2015: 3.19/4.00
  </p>
  <p>
    Graduation: June 2015
  </p>
  <h1 class=white-text>
    Skills/Knowledge: 
  </h1>
  <p>
    Proficient with the use of assembly, C, C++, JavaScript, MATLAB, Python, and SQL 
  </p>
  <h1 class=white-text>
    Relevant Coursework:
  </h1>
  <p>
    Mechatronics, Manufacturing Automation, Biopotential Instrumentation, Bioelectronics and Instrumentation, Electrical Engineering Concepts for Biomedical Engineering, Biomedical Modeling and Simulation, Neural Systems Simulation and Modeling, Engineering Physiology, Biomedical Engineering Design, Biomedical engineering transport, Biomaterials, Technical Writing for Engineers
  </p>
  <h1 class=white-text>
    Work Experience: 
  </h1>
  <h1 class=medium-text>
    Lifeguard / Swim Instructor - 7 Years 
  </h1>
  <p>
    L.A. County Department of Parks and Recreation
  </p>
  <h1 class=medium-text>
    Patient Relations / Surgery Waiting Room Volunteer - 100+ hours 
  </h1>
  <p>
    Methodist Hospital of Southern California
  </p>
  <h1 class=white-text>
    Certifications: 
  </h1>
  <h1 class=medium-text>
    L.A. County Certified: Lifeguarding, CPR / AED, and First Aid 
  </h1>
  <p>
    7th consecutive annual re-certification as of March 2016
  </p>
  <h1 class=medium-text>
    
  </h1>
  <h1 class=medium-text>
    
  </h1>




  <div class="row">
      <a href= https://jackbrierty.com><button class="btn btn-block">back to main page</button></a>
      <a href= https://github.com/jbrierty><button class="btn btn-block">Github Repository</button></a>
      <a href= https://jackbrierty.com/other><button class="btn btn-block">Other Projects</button></a>
  </div>

  <p>
    Feel free to contact me any of these ways :)
  </p>
  <p>
    2187 Cooley Place, Pasadena, CA 91104
  </p>
  <p>
    jbrierty@earthlink.net, 626-297-9305
  </p>

</html>