<!doctype HTML>
<style>
  body {
    background-color: black;
    font-family: Monospace;
    color: white;
  }
  .white-text {
    color: white;
    text-align: left;
    font-size:30px;
  }
</style>
<html>
  <head><title>Jack Brierty personal webpage</title></head>
  
  <h1 class=white-text>
    Hellow, Im Jack Brierty
  </h1>

  <h1 class=white-text>
    Im an amature javascript developer,
  </h1>

  <h1 class=white-text>
    and I like building cool stuff!
  </h1>


  <div class="row">
      <a href= https://jackbrierty.com/EducationandWorkExperience><button class="btn btn-block">Education and Work Experience</button></a>
      <a href= https://github.com/jbrierty><button class="btn btn-block">Github Repository</button></a>
      <a href= https://jackbrierty.com/other><button class="btn btn-block">Other Projects</button></a>
  </div>

  <p>
    Feel free to contact me any of these ways :)
  </p>
  <p>
    2187 Cooley Place, Pasadena, CA 91104
  </p>
  <p>
    jbrierty@earthlink.net, 626-297-9305
  </p>

</html>