<!doctype HTML>
<style>
  body {
    background-color: black;
    font-family: Monospace;
    color: white;
  }
  .white-text {
    color: white;
    text-align: left;
    font-size:30px;
  }
  .medium-text {
    color: white;
    text-align: left;
    font-size:20px;
  }
</style>
<html>
  <head><title>Jack Brierty Other Projects</title></head>
  
  <h1 class=white-text>
    Project Experience:
  </h1>

  <h1 class=medium-text>
    Lab Experience
  </h1>
  <p>
    Designing lab protocols, and conducting tests to measure physiological response to stimuli. Experience with ECG, finger pulse transducer, hand grip dynamometer, testing blood glucose levels, and lab safety standards.
  </p>

  <h1 class=medium-text>
    MATLAB Simulations
  </h1>
  <p>
    Simulated numerous models relating to biomedical issues, including the Hodgkin Huxley model’s description of action potential characteristics. Wrote code to quantify the magnitude and frequency characteristics of hand tremors measured from an external gyroscope.
  </p>
  <h1 class=medium-text>
    Mechatronics
  </h1>
  <p>
    Programming microcontrollers for real-time interface with external devices including: various sensors, motors, LCD displays, and keypad.
  </p>


  <div class="row">
      <a href= https://jackbrierty.com/EducationandWorkExperience><button class="btn btn-block">Education and Work Experience</button></a>
      <a href= https://github.com/jbrierty><button class="btn btn-block">Github Repository</button></a>
      <a href= https://jackbrierty.com><button class="btn btn-block">back to main page</button></a>
  </div>

  <p>
    Feel free to contact me any of these ways :)
  </p>
  <p>
    2187 Cooley Place, Pasadena, CA 91104
  </p>
  <p>
    jbrierty@earthlink.net, 626-297-9305
  </p>

</html>